/* You can add global styles to this file, and also import other style files */
.header {
    background: #def1f4;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: bold;
    font-size: 25px;
    padding: 0 15px 0 15px;
    line-height: 0px;
}
